@font-face {
  font-family: "Josefin bold";
  src: url(../fonts/JosefinSans-Bold.ttf);
}
@font-face {
  font-family: "Josefin regular";
  src: url(../fonts/JosefinSans-Regular.ttf);
}
@font-face {
  font-family: "Aleo regular";
  src: url(../fonts/Aleo-Regular.ttf);
}
@font-face {
  font-family: "Josefin bold";
  src: url(../fonts/JosefinSans-Bold.ttf);
}
