@mixin textStyle($font-family, $fs, $color) {
  font-family: $font-family;
  font-size: $fs;
  color: $color;
  line-height: 1.5;
}
@mixin pseudo($content: "") {
  content: $content;
  display: block;
  position: absolute;
}
